ul {
  display: flex;
  justify-content: space-around;
}
li {
  list-style-type: none;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
}

.item-card {
  flex: 1;
  flex-basis: 30%;
}
